body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-color:rgb(53, 49, 49);
    background-position: center;
    background-repeat: no-repeat;
      background-size: cover;
    opacity:0.5px;
}
.sign-up-form{
    width:300px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background:#fff;
    padding:20px;
    margin:8% auto 0;
    text-align:center;
}
.sign-up-form h1{
    color:rgb(40, 37, 48);
    margin-bottom:30px;
}
.input-box{
    border-radius:20px;
padding:10px;
margin:10px 0;
border:1px solid #999;
outline:none;
}
button{
    color:rgb(232, 232, 235);
    width:100%;
    padding:10px;
    border-radius:20px;
    font-size:15px;
    margin:10px 0;
    border:none;
    outline:none;
    cursor:pointer;
}
.signup-btn{
    background-color: rgb(185, 190, 190);
}
.twitter-btn{
    background-color: rgb(233, 241, 239);
}
a{
    text-decoration:none;
}
hr{
    margin-top:20px;
    width:80%;
}
